table#lovedTracks {
  th,
  td {
    padding: 0.5rem 0;
  }
  thead tr {
    border-top: 1px solid #f3f3f3;
    th {
      color: #888;
      font-weight: 400;
      text-transform: uppercase;
      padding: 1rem 0;
      span {
        display: inline-flex;
        align-items: baseline;
        cursor: pointer;
        svg {
          margin-left: 0.25rem;
          opacity: 0;
          color: #007bff;
          transition: opacity 0.2s ease;
        }
      }
      &:hover span svg {
        opacity: 1;
      }
    }
  }
  tbody tr {
    border-top: 1px solid #f3f3f3;
    td {
      font-size: 14px;
      padding-right: 2rem;
      img {
        border-radius: 3px;
        width: 36px;
        height: 36px;
      }
      a {
        color: inherit;
        transition: 0.1s color ease;
        text-decoration: none;
        &:hover {
          color: #007bff;
        }
      }
      .all-time-fav-icon {
        cursor: pointer;
        &:hover,
        &.liked {
          color: #e7711b !important;
        }
      }
      &.track-album-cover {
        padding-left: 1rem;
      }
      &.track-title,
      &.track-album-title {
        max-width: 18rem;
      }
    }
    &:hover {
      background-color: #f3f3f3;
    }
  }
}

.latest {
  max-width: 600px;
  overflow: hidden;
  position: relative;
  &-img-container {
    img {
      width: 300px;
      height: 300px;
    }
    &:after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      transform: skew(10deg);
      transform-origin: bottom;
      background-color: #192027;
    }
  }

  .latest-meta-container {
    width: 600px;
    height: 300px;
    background-color: #192027;
    z-index: 1;
    color: #fff;
  }
}

.nmt-8 {
  margin-top: -8rem;
}
